<ion-content [fullscreen]="true">
  <div id="container">
    <div class="logo-div">
      <img src="../../assets/activa-logo.png">
      <div class="green-bar"></div>
    </div>
    


    <form #form="ngForm" (ngSubmit)="resetPassword(form)">
      
      <h2 color="activblue" translate> pass_rescue_text </h2>
      <ion-list lines="none">

        <ion-item color="none">
          <ion-label color="activblue" position="floating" translate>
            <ion-icon name="call-outline"></ion-icon>
            pass_rescue_label</ion-label>
          <ion-input type="text" color="activblue" name="email" ngModel required></ion-input>
        </ion-item>
        <div *ngIf="form.form.controls.email" class="error-block">
          <div *ngIf="form.form.controls.email.errors && form.form.controls.email.touched">
            <p *ngIf="form.form.controls.email.errors.required" translate> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              validation_empty
            </p>
          </div>
        </div>

      </ion-list>
      <ion-button color="activblue" type="submit" [disabled]="form.invalid" translate>login_val_button</ion-button>
      <ion-button size="small" expand="block" color="activblue" fill="clear" class="link"  [routerLink]="['/register']" translate>register_button</ion-button>
      <ion-button size="small" expand="block" color="activblue" fill="clear" class="link"  [routerLink]="['/login']" translate>login_button</ion-button>

    </form>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/country']" color="activblue">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>