<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" translate>messages</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" [routerLink]="['/dashboard']">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="conversations">
    <ion-item *ngFor="let conv of conversations" [routerLink]="['/conversation/' + conv.conversation.id]">
      <ion-avatar slot="start">
        <img src="../../assets/User_Avatar_2.png">
      </ion-avatar>
      <ion-label>
        <h2>{{conv.conversation.sujet}} <ion-badge *ngIf="conv.non_lus > 0" slot="end" color="danger">{{conv.non_lus}}</ion-badge> </h2>
        <small color="primary">{{conv.conversation.messages[0].created_at | date: 'dd/MM/yyyy  HH:MM'}}</small>
        <p [innerHTML]="conv.conversation.messages[0].body"></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="activblue" [routerLink]="['/ask-question']">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>