<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" translate>presta_map</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="openFilter()">
        <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="light" [routerLink]="['/dashboard']">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="filter_data">
    <div class="quicklinks">
      <div>
        <ion-button fill="clear" color="light" size="small" translate>
          <span translate>search_result</span>
        </ion-button>
        <span color="light">{{filter_data}} <span translate>prestators</span> </span>
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div style="width:100%; height:100%" #map="" id="map"></div>
</ion-content>
