#container {
    height: 100%;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // overflow-y: scroll;
    // align-items: center;
    // background: linear-gradient(45deg, rgba(2, 0, 36, 0.5) 0%, rgba(9, 9, 121, .4) 15%, rgba(0, 212, 255, 0.57) 100%) ,url(../../assets/DSCN4528.JPG) !important;
    //   background-position: bottom !important;
    //   background-repeat: no-repeat !important;
    //   background-size: cover !important;
    font-family: 'Roboto Condensed', sans-serif;

    .logo-div {
        background: linear-gradient(45deg, rgba(2, 0, 36, 0.9) 0%, rgba(9, 9, 121, .9) 35%, rgba(0, 212, 255, 0.97) 100%) ,url(../../assets/pattern.jpg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        font-family: 'Roboto Condensed', sans-serif;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img {
            width: 30vh;
        }

        .green-bar {
            margin-bottom: -5vh;
            width: 80%;
            height: 2vh;
            background-color: var( --ion-color-activgreen);
        }
    }

    h2 {
        color: var( --ion-color-activblue);
        text-align: center;
        margin-top: 0;
        font-weight: bold;
    }

    .link {
        margin-top: 15px;
        text-decoration: underline;
    }
    
    // img {
    //     width: 70%;
    //     height: 25%;
    // }
}


ion-list {
    background: none !important;
}

ion-item {
    border-bottom: 2px solid var( --ion-color-activblue);
    margin: 20px 0;
    border-bottom-left-radius: 5px;
}

ion-button[type=submit] {
    width: 70%;
    align-self: center;
}

.item-native {
    padding-inline-start: 0 !important;
    padding-left: 0 !important;
}

form {
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.facial-box {
    display: flex;
    justify-content: center;
    text-align: center;
    h6 {
        color: var(--ion-color-activblue);
    }
    margin: 10px 0;
    img {
        width: 20vh;
    }
}

