<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" translate>prime_payment</ion-title>
    <ion-buttons slot="end">
      <ion-back-button fill="clear" color="light" defaultHref="/home"> 
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

    <div *ngIf="contract" class="paybox">
  
      <div>
        <div>
          <span><span translate>paying_amount</span> {{contract.contract_infos.paiments}}</span>
          <span><span translate>non_paiement</span> {{contract.contract_infos.impayes}} XAF</span>
          <span><span translate>period_pay</span> {{contract.contract_infos.periodicite}}</span>
        </div>
  
        <!-- <h3><span translate>card_payment_prime_text</span>: {{contract.contract_infos.paiments}} XAF</h3> -->
    
        <form #momoPayForm="ngForm" (ngSubmit)="momoPay(momoPayForm)">
          <ion-list lines="none">
            <ion-item color="none">
              <ion-label color="activblue" position="floating" translate>
                <ion-icon name="checkmark-done-outline"></ion-icon>
                <span translate>paying_amount</span></ion-label>
                <ion-input type="number" name="montant" [ngModel]="paying_amount" min={{contract.contract_infos.paiments}} ngModel required="required"></ion-input>
            </ion-item>
            
            <ion-item color="none">
              <ion-label color="activblue" position="floating" translate>
                <ion-icon name="checkmark-done-outline"></ion-icon>
                <span translate>preriod_number</span></ion-label>
                <ion-input type="number" name="periode" [ngModel]="periods" min=1 (ionChange)="getPeriods($event)" ngModel required="required"></ion-input>
            </ion-item>

            <ion-item color="none" *ngIf="integrateurs">
              <ion-label color="activblue" position="floating" translate>
                <ion-icon name="checkmark-done-outline"></ion-icon>
                payment_mean</ion-label>
                <ion-select name="operateur" value="brown" okText="J'ai fini" cancelText="Fermer" ngModel (ionChange)="getOperator($event)">
                  <ion-select-option *ngFor="let key of getKeys(integrateurs.integrateur_momo.operators)" value="{{key}}">{{integrateurs.integrateur_momo.operators[key]}}</ion-select-option>
                </ion-select>
            </ion-item>
    
            <ion-item color="none">
              <ion-label color="activblue" position="floating" translate>
                <ion-icon name="call-outline"></ion-icon>
                debited_phone</ion-label>
                <ion-input type="tel" name="telephone" ngModel required="required"></ion-input>
            </ion-item>
    
            <ion-item color="none" *ngIf="paymean==='orange_money_cm'">
              <ion-label color="activblue" position="floating" translate>
                <ion-icon name="checkmark-done-outline"></ion-icon>
                merchant_code</ion-label>
                <ion-input type="number" name="code_marchand" ngModel required="required"></ion-input>
            </ion-item>
            <small *ngIf="paymean==='orange_money_cm'">{{integrateurs.integrateur_momo.message_code}}</small>
          </ion-list>
    
          
          <ion-button expand="block" color="activblue" type="submit" [disabled]="momoPayForm.invalid" translate>card_payment_button</ion-button>
        </form>
      </div>
    </div>

</ion-content>
