<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" translate>my_space</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" [routerLink]="['/dashboard']">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="profile" color="light" class="segment-button-checked">
      <ion-label color="light" translate>my_profile</ion-label>
    </ion-segment-button>
    <ion-segment-button value="password" color="light">
      <ion-label color="light" translate>password_label</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <div *ngIf="contentTitle==='profile' && user" class="center-content">

    <h2 color="primary" translate> profile_update </h2>

    <form #formProf="ngForm" (ngSubmit)="changeProfile(formProf)">
      <p translate>profile_intro</p>
      <ion-list lines="none">

        <ion-item color="none">
          <ion-label color="primary" position="floating">
            <ion-icon name="call-outline"></ion-icon>
            <span translate>phone_label</span> </ion-label>
          <ion-input [(ngModel)]="user.infos.main_phone" type="tel" name="phone" disabled ngModel></ion-input>
        </ion-item>
        <div *ngIf="formProf.form.controls.phone" class="error-block">
          <div *ngIf="formProf.form.controls.phone.errors && formProf.form.controls.phone.touched">
            <p *ngIf="formProf.form.controls.phone.errors.required"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>validation_empty</span> 
            </p>
          </div>
        </div>

        <ion-item color="none">
          <ion-label color="primary" position="floating">
            <ion-icon slot="start" name="at-circle-outline"></ion-icon>
            <span translate>email_label</span> </ion-label>
          <ion-input type="email" name="email"  [(ngModel)]="user.infos.email" disabled ngModel></ion-input>
        </ion-item>
        <div *ngIf="formProf.form.controls.email" class="error-block">
          <div *ngIf="formProf.form.controls.email.errors && formProf.form.controls.email.touched">
            <p *ngIf="formProf.form.controls.email.errors.required"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>validation_empty</span> 
            </p>
          </div>
        </div>

        <ion-item color="none" *ngIf="villes">
          <ion-label color="primary" position="floating">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <span translate>ville_label</span> </ion-label>
            <ion-select name="ville_id" [ngModel]="user.infos.ville_id.toString()" okText="J'ai fini" cancelText="Fermer" ngModel >
              <ng-container *ngFor="let ville of villes">
                <ion-select-option value="{{ville.id}}">{{ville.name}}</ion-select-option>
              </ng-container>
            </ion-select>
        </ion-item>
        <div *ngIf="formProf.form.controls.ville_id" class="error-block">
          <div *ngIf="formProf.form.controls.ville_id.errors && formProf.form.controls.ville_id.touched">
            <p *ngIf="formProf.form.controls.ville_id.errors.required"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>validation_empty</span> 
            </p>
            </div>
        </div>

        <ion-item color="none">
          <ion-label color="primary" position="floating">
            <ion-icon name="person-outline"></ion-icon>
            <span translate>adress_label</span> </ion-label>
          <ion-input type="text" [(ngModel)]="user.infos.adresse" name="adresse" ngModel ></ion-input>
        </ion-item>
        <div *ngIf="formProf.form.controls.adresse" class="error-block">
          <div *ngIf="formProf.form.controls.adresse.errors && formProf.form.controls.adresse.touched">
            <p *ngIf="formProf.form.controls.adresse.errors.required"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>validation_empty</span> 
            </p>
          </div>
        </div>

        <ion-item color="none" *ngIf="professions">
          <ion-label color="primary" position="floating">
            <ion-icon name="person-outline"></ion-icon>
            <span translate>job_label</span> </ion-label>
          <ion-select name="profession" [ngModel]="user.infos.profession_id.toString()" okText="J'ai fini" cancelText="Fermer" ngModel >
            <ng-container *ngFor="let prof of professions">
              <ion-select-option value="{{prof.id}}">
                <span *ngIf="translateService.currentLang === 'fr'">{{prof.designation}}</span>
                <span *ngIf="translateService.currentLang === 'en'">{{prof.designation_en}}</span>
              </ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <div *ngIf="formProf.form.controls.profession" class="error-block">
          <div *ngIf="formProf.form.controls.profession.errors && formProf.form.controls.profession.touched">
            <p *ngIf="formProf.form.controls.profession.errors.required"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>validation_empty</span> 
            </p>
          </div>
        </div>

      </ion-list>
      <ion-button expand="block" color="primary" type="submit" [disabled]="formProf.invalid">Valider</ion-button>

    </form>

    <ion-button *ngIf="!user.infos.id_vie || !user.infos.id_non_vie" expand="block" color="success" (click)="activate()">
      <ion-icon slot="start" name="flash-off-outline"></ion-icon>
      <span *ngIf="!user.infos.id_vie" translate>activate_vie</span>
      <span *ngIf="!user.infos.id_non_vie" translate>activate_non_vie</span>
    </ion-button>
    
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!user.infos.id_vie || !user.infos.id_non_vie">
    <ion-fab-button size="small" color="success" (click)="activate()">
      <ion-icon slot="start" name="flash-off-outline"></ion-icon>
      <span *ngIf="!user.infos.id_vie" translate>activate_vie</span>
      <span *ngIf="!user.infos.id_non_vie" translate>activate_non_vie</span>
    </ion-fab-button>
  </ion-fab> -->

  </div>

  <div *ngIf="contentTitle==='password'" class="center-content">

    <h2 color="primary"> Modifer mon mot de passe </h2>

    <form #form="ngForm" (ngSubmit)="changePass(form)">
      <p translate>pass_update_intro</p>
      <ion-list lines="none">

        <ion-item color="none">
          <ion-label color="primary" position="floating">
            <ion-icon name="call-outline"></ion-icon>
            <span translate>actual_pass</span> </ion-label>
          <ion-input type="password" name="old_password" ngModel required></ion-input>
        </ion-item>
        <div *ngIf="form.form.controls.old_password" class="error-block">
          <div *ngIf="form.form.controls.old_password.errors && form.form.controls.old_password.touched">
            <p *ngIf="form.form.controls.old_password.errors.required"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>validation_empty</span> 
            </p>
          </div>
        </div>

        <ion-item color="none">
          <ion-label color="primary" position="floating">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <span translate>new_pass</span></ion-label>
          <ion-input type="password" name="new_password" minlength='6' maxlength='20' ngModel required></ion-input>
        </ion-item>
        <div *ngIf="form.form.controls.new_password" class="error-block">
          <div *ngIf="form.form.controls.new_password.errors && form.form.controls.new_password.touched">
            <p *ngIf="form.form.controls.new_password.errors.required"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>validation_empty</span> 
            </p>
          </div>
          
          <div *ngIf="form.form.controls.new_password.errors">
            <p *ngIf="form.form.controls.new_password.errors.minlength"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>small_pseudo</span> 
            </p>
            <p *ngIf="form.form.controls.new_password.errors.maxlength"> 
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span translate>long_pass</span> 
            </p>
          </div>
        </div>

      </ion-list>
      <ion-button expand="block" color="primary" type="submit" [disabled]="form.invalid" translate>login_val_button</ion-button>

    </form>
  </div>

</ion-content>
