<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" translate>activa_points</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" [routerLink]="['/dashboard']">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div style="width:100%; height:100%" #map="" id="map"></div>
</ion-content>
