ion-header {
    
    background: linear-gradient(45deg, rgba(2, 0, 36, 0.9) 0%, rgba(9, 9, 121, .9) 35%, rgba(0, 212, 255, 0.97) 100%) ,url(../../assets/pattern.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: 'Roboto Condensed', sans-serif;
}

ion-toolbar {
  --background: none;
  --padding-bottom: 0.5em;
}

ion-content {
    p, h3{
        text-align: center !important;
    }
    ion-img {
        margin: 10px;
    }

    ion-button {
        margin: auto;
    }
}

.logo-div {
    background: linear-gradient(45deg, rgba(2, 0, 36, 0.9) 0%, rgba(9, 9, 121, .9) 35%, rgba(0, 212, 255, 0.97) 100%) ,url(../../assets/pattern.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: 'Roboto Condensed', sans-serif;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img {
        width: 30vh;
    }

    .green-bar {
        margin-bottom: -5vh;
        width: 80%;
        height: 2vh;
        background-color: var( --ion-color-activgreen);
    }
}