<ion-header>
  <ion-toolbar>
    <ion-title color="light" translate></ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="closeModal()">
        <span translate>close</span>
        <ion-icon slot="end" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="prestataire">
    <ion-item>
      <ion-label translate>full_name</ion-label>:
      <ion-badge slot="end" color="secondary">{{prestataire.nom}}</ion-badge>
    </ion-item>

    <ion-item *ngIf="categories">
      <ion-label translate>category</ion-label>:
      <ion-badge slot="end" color="secondary">
        <span *ngIf="translateService.currentLang === 'fr'">{{prestataire.categories[0].categorie_parent.categorie_parent}}</span>
        <span *ngIf="translateService.currentLang === 'en'">{{prestataire.categories[0].categorie_parent.categorie_parent_en}}</span>
      </ion-badge>
    </ion-item>

    <ion-item >
      <ion-label translate>sub_category</ion-label>:
      <ion-badge slot="end" color="secondary">
        {{categories}}
      </ion-badge>
    </ion-item>

    <ion-list-header lines="full">
      <h3 translate>list_prestations</h3>
    </ion-list-header>
    
    <ion-item [innerHTML]="prestataire.produits">
    </ion-item>
  

    <ion-list-header lines="full">
      <h3 translate>usefull_infos</h3>
    </ion-list-header>

    
    <ion-item>
      <ion-label translate>adress_label</ion-label>:
      <ion-badge slot="end" color="secondary">{{prestataire.adresse}}</ion-badge>
    </ion-item>

    
    <ion-item>
      <ion-label translate>ville_label</ion-label>:
      <ion-badge slot="end" color="secondary">{{prestataire.ville.name}}</ion-badge>
    </ion-item>

    
    <ion-item >
      <ion-label translate>phone_label</ion-label>:
      <ion-badge slot="end" color="secondary">{{prestataire.telephone}}</ion-badge>
    </ion-item>

    
    <ion-item *ngIf="prestataire.email">
      <ion-label translate>email_label</ion-label>:
      <ion-badge slot="end" color="secondary">{{prestataire.email}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
